function Graphics.init 0
push constant 16384
pop static 0
push constant 8192
pop static 1
push constant 0
return
function Graphics.isAddressValid 0
push argument 0
push argument 1
add
push static 0
gt
push static 1
add
push argument 0
push argument 1
add
push static 0
eq
push static 1
add
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
not
return
function Graphics.getMemoryAddress 0
push static 0
push argument 1
push constant 32
call Math.multiply 2
add
push argument 0
add
return
function Graphics.drawPlayer 1
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4033
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4033
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4033
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4033
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4033
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4033
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.erasePlayer 1
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawTriangleObstacle 3
push argument 0
pop local 0
push constant 32
pop local 1
push constant 32
pop local 2
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
add
pop local 1
push constant 0
pop local 0
label IF_FALSE0
push local 0
push local 1
add
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
push local 0
sub
pop local 1
label IF_FALSE1
push local 1
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
add
push argument 1
push local 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
add
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push constant 0
return
function Graphics.eraseTriangleObstacle 3
push argument 0
pop local 0
push constant 32
pop local 1
push constant 32
pop local 2
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
add
pop local 1
push constant 0
pop local 0
label IF_FALSE0
push local 0
push local 1
add
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
push local 0
sub
pop local 1
label IF_FALSE1
push local 1
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
add
push argument 1
push local 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
add
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push constant 0
return
function Graphics.drawSmallTriangleObstacle 3
push argument 0
pop local 0
push constant 16
pop local 1
push constant 16
pop local 2
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
add
pop local 1
push constant 0
pop local 0
label IF_FALSE0
push local 0
push local 1
add
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
push local 0
sub
pop local 1
label IF_FALSE1
push local 1
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
add
push argument 1
push local 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
add
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push constant 0
return
function Graphics.eraseSmallTriangleObstacle 3
push argument 0
pop local 0
push constant 16
pop local 1
push constant 16
pop local 2
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
add
pop local 1
push constant 0
pop local 0
label IF_FALSE0
push local 0
push local 1
add
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
push local 0
sub
pop local 1
label IF_FALSE1
push local 1
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
add
push argument 1
push local 2
add
call Screen.drawLine 4
pop temp 0
push local 0
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
add
push argument 1
push local 2
add
push local 0
push local 1
push constant 2
call Math.divide 2
add
push argument 1
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push constant 0
return
function Graphics.drawSquareBox 4
push argument 0
pop local 0
push argument 1
pop local 1
push argument 0
push argument 2
add
pop local 2
push argument 1
push argument 2
add
pop local 3
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
pop local 0
label IF_FALSE1
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
label IF_FALSE2
push local 2
push constant 511
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 511
pop local 2
label IF_FALSE3
push local 1
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop local 1
label IF_FALSE4
push local 1
push constant 239
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 239
pop local 1
label IF_FALSE5
push local 3
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop local 3
label IF_FALSE6
push local 3
push constant 239
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 239
pop local 3
label IF_FALSE7
push local 2
push local 0
gt
push local 3
push local 1
gt
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
push local 3
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE8
push constant 0
return
function Graphics.eraseSquareBox 4
push argument 0
pop local 0
push argument 1
pop local 1
push argument 0
push argument 2
add
pop local 2
push argument 1
push argument 2
add
pop local 3
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
pop local 0
label IF_FALSE1
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
label IF_FALSE2
push local 2
push constant 511
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 511
pop local 2
label IF_FALSE3
push local 1
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop local 1
label IF_FALSE4
push local 1
push constant 239
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 239
pop local 1
label IF_FALSE5
push local 3
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop local 3
label IF_FALSE6
push local 3
push constant 239
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 239
pop local 3
label IF_FALSE7
push local 2
push local 0
gt
push local 3
push local 1
gt
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
push local 3
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE8
push constant 0
return
function Graphics.drawGround 2
call Graphics.groundLevel 0
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
push constant 239
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 239
pop local 0
label IF_FALSE1
push local 0
push constant 15
add
pop local 1
push local 1
push constant 239
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 239
pop local 1
label IF_FALSE2
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push local 0
push constant 511
push local 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphics.drawSquareObstacle1 1
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 993
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseSquareObstacle1 3
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 993
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 32
lt
not
if-goto WHILE_END0
push local 1
push constant 32
call Math.multiply 2
pop local 2
push local 0
push local 2
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push local 2
add
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Graphics.drawSquareObstacle2 1
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 993
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseSquareObstacle2 3
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 993
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 32
lt
not
if-goto WHILE_END0
push local 1
push constant 32
call Math.multiply 2
pop local 2
push local 0
push local 2
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push local 2
add
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Graphics.drawTriangularBed1 1
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 227
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16288
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8080
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1800
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 129
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 8579
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 1081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 9
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 34
add
push constant 16388
call Memory.poke 2
pop temp 0
push local 0
push constant 66
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 0
push constant 98
add
push constant 2034
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 481
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 65
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 67
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 99
add
push constant 3585
call Memory.poke 2
pop temp 0
push local 0
push constant 131
add
push constant 3591
call Memory.poke 2
pop temp 0
push local 0
push constant 163
add
push constant 12529
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 195
add
push constant 97
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 227
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseTriangularBed1 4
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 227
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 8
lt
not
if-goto WHILE_END0
push local 1
push constant 32
call Math.multiply 2
pop local 3
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 4
lt
not
if-goto WHILE_END1
push local 0
push local 3
add
push local 2
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Graphics.drawTriangularBed2 1
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 355
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31760
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15368
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 14340
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6148
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4098
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 4095
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 3967
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 3903
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 1821
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 777
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 1027
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 3587
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 7939
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 8067
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 16327
call Memory.poke 2
pop temp 0
push local 0
push constant 322
add
push constant 32751
call Memory.poke 2
pop temp 0
push local 0
push constant 354
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 35
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 67
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 99
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 131
add
push constant 31744
call Memory.poke 2
pop temp 0
push local 0
push constant 163
add
push constant 32256
call Memory.poke 2
pop temp 0
push local 0
push constant 195
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 227
add
push constant 32640
call Memory.poke 2
pop temp 0
push local 0
push constant 259
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 291
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 323
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 355
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseTriangularBed2 4
push argument 0
push argument 1
call Graphics.getMemoryAddress 2
pop local 0
push local 0
push constant 355
call Graphics.isAddressValid 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 12
lt
not
if-goto WHILE_END0
push local 1
push constant 32
call Math.multiply 2
pop local 3
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 4
lt
not
if-goto WHILE_END1
push local 0
push local 3
add
push local 2
add
push constant 0
call Memory.poke 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Graphics.groundLevel 0
push constant 240
return
function Graphics.drawCircle 0
push argument 0
push argument 1
push argument 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
