function Main.main 8
call Graphics.init 0
pop temp 0
call StartScreen.run 0
pop local 7
push local 7
call Random.setSeed 1
pop temp 0
push constant 0
pop local 2
call Menu.run 0
pop local 0
push local 0
call StartScreen.showLevelStart 1
pop temp 0
push constant 0
not
pop local 3
label WHILE_EXP0
push local 3
not
if-goto WHILE_END0
push local 2
push local 0
call GeometryDash.new 2
pop local 5
push local 5
call GeometryDash.run 1
pop local 1
push local 5
call GeometryDash.hasWon 1
pop local 4
push local 5
call GeometryDash.dispose 1
pop temp 0
push local 1
push local 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop local 2
label IF_FALSE0
call EndScreen.new 0
pop local 6
push local 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 6
push local 1
push local 2
call EndScreen.win 3
pop local 3
goto IF_END1
label IF_FALSE1
push local 6
push local 1
push local 2
call EndScreen.crash 3
pop local 3
label IF_END1
push local 6
call EndScreen.dispose 1
pop temp 0
push local 3
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
call Menu.run 0
pop local 0
push local 0
call StartScreen.showLevelStart 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
