function SpeedPowerUp.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 10
pop this 2
push constant 4
pop this 3
push pointer 0
call SpeedPowerUp.reset 1
pop temp 0
push pointer 0
return
function SpeedPowerUp.reset 0
push argument 0
pop pointer 0
push constant 511
push constant 0
push constant 100
call Random.randRange 2
add
pop this 0
call Graphics.groundLevel 0
push this 2
sub
push constant 4
sub
pop this 1
push constant 0
pop this 4
push constant 0
return
function SpeedPowerUp.update 0
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call SpeedPowerUp.erase 1
pop temp 0
label IF_FALSE0
push this 0
push this 3
sub
pop this 0
push this 0
push this 2
add
push constant 0
gt
push this 0
push constant 512
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 4
push pointer 0
call SpeedPowerUp.draw 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
pop this 4
push this 0
push this 2
add
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call SpeedPowerUp.reset 1
pop temp 0
label IF_FALSE2
label IF_END1
push constant 0
return
function SpeedPowerUp.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function SpeedPowerUp.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function SpeedPowerUp.collidesWith 4
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Player.collision_box_x 1
pop local 0
push argument 1
call Player.collision_box_y 1
pop local 1
push argument 1
call Player.collision_box_width 1
pop local 2
push argument 1
call Player.collision_box_height 1
pop local 3
push local 0
push local 2
add
push this 0
push this 2
sub
gt
push local 0
push this 0
push this 2
add
lt
and
push local 1
push local 3
add
push this 1
push this 2
sub
gt
and
push local 1
push this 1
push this 2
add
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function SpeedPowerUp.getX 0
push argument 0
pop pointer 0
push this 0
return
function SpeedPowerUp.getY 0
push argument 0
pop pointer 0
push this 1
return
function SpeedPowerUp.getRadius 0
push argument 0
pop pointer 0
push this 2
return
function SpeedPowerUp.isVisible 0
push argument 0
pop pointer 0
push this 4
return
